
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');


:root {
    --dark-primary: #a0c49d;
    --primary: #f7ffe5;
    --primary-hover: #e1ecc8;
    --second-primary:#c4d7b2;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: auto;
}

header{
    background-color: var(--dark-primary);
    padding: 30px;
    color: var(--primary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header ul{
    display:flex;
    list-style-type: none;
}

header ul li{
    margin-right: 30px;
}

header ul li a{
    color: var(--primary);
    text-decoration: none;
}

header ul li a:hover{
    color: #2c3333;

}

section .heroine h4{
    font-size: 20px;
    font-weight: lighter;
}

.button{
    padding: 10px 10px;
    font-weight: 600;
    background-color: var(--dark-primary);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.button:hover{
    background-color: var(--primary);
    cursor: pointer;
    color: #2c3333;
}

header .logo {
     font-weight: 600;
     letter-spacing: 2px;
}
 
section.heroine {
       background-color: var(--dark-primary);
       color:#2c3333;
       display: flex;
       align-items: center;
       padding: 20px 120px 0 200px;
}

.heroine-title{
    font-size:40px;
    letter-spacing: 2px;
}

.heroine-title span{
    color: #fff;
}

.heroine-title span:hover{
    color:var(--primary);
}

.heroine-description{
    color: var(--primary);
}

.heroine-description a{
    text-decoration: none;
    color: #2c3333;
}

.social-icons{
    margin: 20px 0;
}

.social-icons{
    margin-right: 40px;
    list-style: none;
    justify-content: space-around;
}
 

.social-icons a{
    text-decoration: none;
    color: #2c3333;
    padding: 10px;
}

.social-icons a:hover{
    color: var(--primary);
}

.btn{
    padding: 10px 10px;
    border-radius: 2px;
    cursor: pointer;
    border:none;
    font-weight: 600;
}

.btn:hover {
    border-radius: 50px;
    background-color: var(--dark-primary);
    color: #000;
    border-color: var(--primary);
    border-width: 20px;
}

.btn-btn-primary{
    background-color: var(--primary-hover);
    padding: 10px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #2c3333;
}
.btn-btn-primary:hover {
    background-color: #fff;
}

 /*about me*/
.about-section {
     background-color:var(--second-primary);
     color:#2c3333;
     padding:50px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.about-section-desc{
    margin-left: 60px;
    max-width: 450px;
}

.about-section img{
    width: 200px;
    border-radius: 50px;
    border: 5px solid var(--primary);
}

.about-section-desc h5{
    font-size: 32px;
    font-weight: 600;
}

.about-section-desc h5 span{
    color: #fff;
    margin-bottom:10px;
}

.about-section-desc ul{
    list-style-type: none;
    margin: 10px 0px;
}

.about-section-desc li{
    margin-bottom: 10px;
    color: #2c3333;
}

.about-section-desc li b{
    color: #fff;
}

.about-section-desc li a{
    color: #2c3333;
}

.about-section-desc li a:hover{
    color:var(--primary);
    cursor:pointer;
}

.work-section{
    background-color: var(--dark-primary);
    color: #2c3333;
    padding: 60px;
    text-align: center;
}

section .work-section h7{
    margin:20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: large;
}

.work-section-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-section-box{
    background-color: var(--second-primary);
    padding: 30px;
    max-width: 400px;
    text-align: left;
    border-radius: 4%;
    display: block;
    margin-right:40px;
}

.work-section-box p{
    color: #fff;
    padding-bottom: 10px;
}


.work-section-box h8{
    color:#2c3333;
   margin: 20px 0px;
   padding: 50px 0;
}
.work-section-box a{
    color: #2c3333;
}
.work-section-box a:hover{
    color:var(--primary-hover);
}

.work-box-icons{
    background-color: #fff;
    padding:5px;
    border-radius: 50%;
    align-items: center;
}

.skill-section{
    background-color: var(--second-primary);
    color: #2c3333;
    padding: 20px;
}

.skill-section-title{
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding:20px;
}

.skill-section i{
    color:#2c3333;
    padding:10px;
    background-color: var(--primary-hover);
    border-radius: 5px;
    margin-right: 20px;
    font-size: 30px;
}

.skill-icon {
    display: flex;
    justify-content: center;
}
.contact-section{
    background-color: var(--dark-primary);
    text-align: center;
    padding: 20px;
    color: var(--primary);
}

.contact-section h9{
    font-size: 30px;
    margin: 20px 0px;
    font-weight: 600;
    padding: 20px;
}

.contact-section span{
    color:#2c3333;
}

.contact-section form input, textarea{
    padding: 5px 10px;
    outline: none;
    width: 350px;
    border-radius: 2px;
    background-color: transparent;
    color: #000;
    margin: 10px;
    border-color: var(--second-primary);
    box-shadow: 2px 1px #2c3333;

}

.footer-message{
    display: flex;
    justify-content: center;
    background-color: var(--dark-primary);
    color:var(--primary);
    padding: 100px;
}

.footer-msg-img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

@media only screen and (max-width:800px){
    header{
        flex-direction: column;
    }

    header>*{
        margin-bottom: 10px;
    }

    section.heroine {
        flex-direction: column;
        padding: 20px 10px;
    }

    section .about-section{
        flex-direction: column;
        padding:30px;
    }

    .about-section-desc{
        margin-left:0px;
        margin-top: 30px;
    }

    .work-section{
        padding: 30px 10px;
    }

    .work-section-items{
        flex-direction:column;
        align-items: center;
        max-width: 0;
    }

    .work-section-box{
        margin-bottom: 20px;
        width: 100%;
        margin-right: 0;
    }

    .skill-section{
        flex-direction:column;
    }

    .contact-section form input,textarea{
        width: 100%;
    }
    }